<div id="attributes" class="row">
  <div class="col-md-12">
    <div>
      <div>
        <h4>
          Attributs
        </h4>

        <div class="card-text">
          <div class="row">
            <div class="col-md-6">
              <label>Constitution</label>
              <input class="form-control" name="constitutionBox" #constitutionBox (keyup)="onKey(constitutionBox)">
            </div>
            <div class="col-md-6">
              <label>Essence</label>
              <input class="form-control" name="EssenceBox" #EssenceBox (keyup)="onKey(EssenceBox)">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Agilité</label>
              <input class="form-control" name="agiliteBox" #agiliteBox (keyup)="onKey(agiliteBox)">
            </div>
            <div class="col-md-6">
              <label>Magie/Resonance</label>
              <input class="form-control" name="magieResonanceBox" #magieResonanceBox (keyup)="onKey(magieResonanceBox)">
            </div>
            <div class="col-md-6">
              <label>Réaction</label>
              <input class="form-control" name="reactionBox" #reactionBox (keyup)="onKey(reactionBox)">
            </div>
            <div class="col-md-6">
              <label>Init.physique</label>
              <input class="form-control" name="initPhysiqueBox" #initPhysiqueBox (keyup)="onKey(initPhysiqueBox)">
            </div>
            <div class="col-md-6">
              <label>Force</label>
              <input class="form-control" name="forceBox" #forceBox (keyup)="onKey(forceBox)">
            </div>
            <div class="col-md-6">
              <label>Init.matricielle</label>
              <input class="form-control" name="initMatricielleBox" #initMatricielleBox (keyup)="onKey(initMatricielleBox)">
            </div>
            <div class="col-md-6">
              <label>volonté</label>
              <input class="form-control" name="volonteBox" #volonteBox (keyup)="onKey(volonteBox)">
            </div>
            <div class="col-md-6">
              <label>Init.astrale</label>
                <input class="form-control" name="initAstraleBox" #initAstraleBox (keyup)="onKey(initAstraleBox)">
            </div>
            <div class="col-md-6">
              <label>Logique</label>
              <input class="form-control" name="logiqueBox" #logiqueBox (keyup)="onKey(logiqueBox)">
            </div>
            <div class="col-md-6">
              <label>Sang-froid</label>
              <input class="form-control" name="sangFroidBox" #sangFroidBox (keyup)="onKey(sangFroidBox)">
            </div>
            <div class="col-md-6">
              <label>Intuition</label>
              <input class="form-control" name="intuitionBox" #intuitionBox (keyup)="onKey(intuitionBox)">
            </div>
            <div class="col-md-6">
              <label>Jauger les intensions</label>
              <input class="form-control" name="jaugerLesIntentionsBox" #jaugerLesIntentionsBox (keyup)="onKey(jaugerLesIntentionsBox)">
            </div>
            <div class="col-md-6">
              <label>Charisme</label>
              <input class="form-control" name="CharismeBox" #CharismeBox (keyup)="onKey(CharismeBox)">
            </div>
            <div class="col-md-6">
              <label>Mémoire</label>
              <input class="form-control" name="memoireBox" #memoireBox (keyup)="onKey(memoireBox)">
            </div>
            <div class="col-md-6">
              <label>Chance</label>
              <input class="form-control" name="chanceBox" #chanceBox (keyup)="onKey(chanceBox)">
            </div>
            <div class="col-md-6">
              <label>Soulever / Transporter</label>
              <input class="form-control" name="souleverTransporterBox" #souleverTransporterBox (keyup)="onKey(souleverTransporterBox)">
            </div>
            <div class="col-md-6">
              <label>Points de Chance</label>
              <input class="form-control" name="pointDeChance" #pointDeChance (keyup)="onKey(pointDeChance)">
            </div>
            <div class="col-md-6">
              <label>Déplacement</label>
              <input class="form-control" name="deplacementBox" #deplacementBox (keyup)="onKey(deplacementBox)">
            </div>
            <div class="col-md-4">
              <label>Limite physique</label>
              <input class="form-control" name="limitePhysiqueBox" #limitePhysiqueBox (keyup)="onKey(limitePhysiqueBox)">
            </div>
            <div class="col-md-4">
              <label>Limite mentale</label>
              <input class="form-control" name="limiteMentalBox" #limiteMentalBox (keyup)="onKey(limiteMentalBox)">
            </div>
            <div class="col-md-4">
              <label>Limite social</label>
              <input class="form-control" name="limiteSocialBox" #limiteSocialBox (keyup)="onKey(limiteSocialBox)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>