<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">    
    <div id="blankCharracter">
      <div class="card">
        <div class="data-zone">
      <div class="row">
        <div class="col-md-6">
          <app-personal-data></app-personal-data>
        </div>
        <div class="col-md-6">
          <app-character-attribute></app-character-attribute>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-character-skills></app-character-skills>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-6">
          <!--<app-character-qualities></app-character-qualities>-->
        </div>
        <div class="col-md-6">
          <!--<app-character-contacts></app-character-contacts>-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!--<app-character-gear></app-character-gear>-->
        </div>
      </div>
    </div>
    </div>
    </div></div>
</div>
